<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tin Linh Tinh</title>
    <!--Gán file base và main-->
    <link rel="stylesheet" href="./public/base.css">
    <link rel="stylesheet" href="./public/main.css">
    <!--Reset CSS-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <!--Phông chữ-->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <!--Font Icon-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <div class="page">
        <div class="header">
            <div class="grid">
                <nav class="header__navbar">
                    <ul class="header__navbar-list">
                        <li class="header__navbar-item header__navbar-item--seperate">
                            <a href="" class="header__navbar-item-link">
                                <i class="header__navbar-icon fa-solid fa-house"></i>
                                Trang chủ
                            </a>
                        </li>
                        <li class="header__navbar-item">
                            <span class="header__navbar-title--no-pointer">Theo dõi báo trên</span>
                            <!--Icon-->
                            <a href="" class="header__navbar-icon-link">
                                <!--Facebook-->
                                <i class="header__navbar-icon fa-brands fa-facebook"></i>
                            </a>
                            <a href="" class="header__navbar-icon-link">
                                <!--Instagram-->
                                <i class="header__navbar-icon fa-brands fa-instagram"></i>
                            </a>
                            <a href="" class="header__navbar-icon-link">
                                <!--Twitter-->
                                <i class="header__navbar-icon fa-brands fa-twitter"></i>
                            </a>
                        </li>
                    </ul>
                    <ul class="header__navbar-list">
                        <li class="header__navbar-item">
                            <a href="" class="header__navbar-item-link">
                                <i class="header__navbar-icon fa-solid fa-bell"></i>
                                Thông báo
                            </a>
                        </li>
                        <li class="header__navbar-item">
                            <a href="" class="header__navbar-item-link">
                                <i class="header__navbar-icon fa-solid fa-circle-info"></i>
                                Trợ giúp
                            </a>
                        </li>
                        <li class="header__navbar-item header__navbar-item--strong header__navbar-item--seperate">Đăng
                            kí</li>
                        <li class="header__navbar-item header__navbar-item--strong">Đăng nhập</li>
                    </ul>
                </nav>
            </div>

            <!--Tên trang-->
            <div class="name-page">
                <h1 class="name-page__one">TIN LINH TINH</h1>
            </div>
            <!--Thanh tìm kiếm-->
            <div class="search">
                <div class="search-icon">
                    <i class="search-icon__icon fa-solid fa-bars"></i>
                </div>

                <div class="search-form">
                    <input type="text" class="search-form_input" placeholder="Tìm kiếm...">
                </div>

                <div class="search-icon">
                    <i class="search-icon__icon fa-solid fa-magnifying-glass"></i>
                </div>
            </div>

            <div class="line"></div>

            <!--Danh mục tin tức-->
            <div class="menu">
                <ul class="menu_list">
                    <li class="menu_item">Thời sự</li>
                    <li class="menu_item">Thế giới</li>
                    <li class="menu_item">Kinh tế</li>
                    <li class="menu_item">Đời sống</li>
                    <li class="menu_item">Sức khỏe</li>
                    <li class="menu_item">Giáo dục</li>
                    <li class="menu_item">Du lịch</li>
                    <li class="menu_item">Văn hóa</li>
                    <li class="menu_item">Thể thao</li>
                    <li class="menu_item">Khoa học - Công nghệ</li>
                    <li class="menu_item">Khác</li>
                </ul>
            </div>

            <!--Form Đăng ký-->
            <form class="dangky" action="/dangky" method="post">
                <div class="auth-form__container">
                    <div class="auth-form__header">
                        <h3 class="auth-form__heading">Đăng ký</h3>
                     
                    </div>
                    <!--Thông tin cung cấp-->
                    <div class="auth-form__form">
                        
                        <div class="auth-form__group">
                            <input type="text" id="username" name="username" class="auth-form__input"
                                placeholder="Tên hiển thị" style="font-size: 14px">
                        </div>
                        <div class="auth-form__group">
                            <input type="text" id="email" name="email" class="auth-form__input"
                                placeholder="Nhập email" style="font-size: 14px">
                        </div>
                        <div class="auth-form__group">
                            <input type="password" id="password" name="password" class="auth-form__input"
                                placeholder="Nhập mật khẩu" style="font-size: 14px">
                        </div>
                        <div class="auth-form__group" style="font-size: 14px">
                            <input type="password" id="rpassword" name="rpassword" class="auth-form__input"
                                placeholder="Xác nhận lại mật khẩu">
                        </div>
                        <div class="auth-form__aside">
                            <p class="auth-form__policy-text">
                                Bằng việc đăng ký, bạn đã đồng ý với Tin Linh Tinh về
                                <a href="" class="auth-form__text-link">Điều khoản dịch vụ</a>
                                và
                                <a href="" class="auth-form__text-link">Chính sách bảo mật</a>
                            </p>
                        </div>
                        <!--Xác nhận-->
                        <div class="auth-form__controls">
                            <button class="btn btn--primary">ĐĂNG KÝ</button>
                        </div>
                        <div class="auth-form__controls">
                            <span style="font-size: 15px;">Bạn đã có tài khoản? <a href="./">Đăng nhập ngay</a></span>
                        </div>
                    </div>
                    <!--Policy-->
                    

                </div>
                <div class="auth-form__socials">
                    <a href="https://www.facebook.com/"
                        class="auth-form__socials--facebook btn btn--size-s btn--with-icon">
                        <i class="auth-form__socials-icon fa-brands fa-square-facebook"></i>
                        <span class="auth-form__socials-title">
                            Đăng nhập với Facebook
                        </span>
                    </a>
                    <a href="https://accounts.google.com/v3/signin/identifier?authuser=0&continue=https%3A%2F%2Fmyaccount.google.com%2F%3Futm_source%3Dsign_in_no_continue%26pli%3D1&ec=GAlAwAE&hl=vi&service=accountsettings&flowName=GlifWebSignIn&flowEntry=AddSession&dsh=S17317011%3A1709084681428060&theme=glif"
                        class="auth-form__socials--google btn btn--size-s btn--with-icon">
                        <i class="auth-form__socials-icon fa-brands fa-google"></i>
                        <span class="auth-form__socials-title">
                            Đăng nhập với Google
                        </span>
                    </a>
                </div>
            </form>
        </div>
</body>

</html>